theme = GitHub Dark

background-image =  {{ .chezmoi.homeDir }}/.config/wallpapers/astronaut.jpg
background-image-fit = cover
background-image-opacity = 0.2

maximize = true

quit-after-last-window-closed = true
confirm-close-surface = false
window-save-state = always

macos-option-as-alt = right


# keybindings for nvim
keybind = opt+backspace=text:\x1b\x7f
keybind = super+left=text:\x01
keybind = super+right=text:\x05
